@import url('./main.css');

footer {
    margin-top: 0;
}

.sign-in {
    height: 100%;
    width: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/mountain-roads.jpeg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box {
    width: 33vw;
    min-width: 355px;
    height: 80em;
    position: relative;
    margin: 2% auto;
    color: var(--on-surface);
    /* background-color: yellow; */
    overflow: hidden;
}

/* Nav buttons */
.button-box {
    width: 75%;
    margin: 5% auto;
    position: relative;
    border-radius: 30px;
}

.toggle-btn {
    padding: 3% 5%;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    width: 49%;
}

#login-btn {
    color: var(--on-secondary);
}

#register-btn {
    color: var(--on-surface);
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: var(--secondary);
    border-radius: 30px;
    transition: .5s;
}

/* Nav buttons */

/* Login and register forms */
#login {
    left: 0;
}

#register {
    left: 200%;
}

#login, #register {
    width: 100%;
    position: absolute;
    top: 5em;
}

form {
    transition: .5s;
    padding: 2vw;
    border-radius: 5px;
    background-color: var(--surface);
}

#ext-link {
    height: 1em;
    width: 1em;
    fill: var(--on-surface);
}

.remember {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 1em;
    align-items: center;
    font-size: 0.8em;
    border: 0;
}

.remember input {
    width: 1em;
}
