@import url('./main.css');

footer {
    margin-top: 0;
}

/* Behavioral tracking code */
/* This requires some more styling, but it's a start. */
#tracking-data {
    margin: 1em;
    position: relative;
    background-color: var(--surface);
    color: var(--on-surface);
    font: inherit;
    padding: 1vh 1vw 1vh 1vw;
    border: var(--on-surface) 1px solid;
    border-radius: 5px;
    visibility: hidden;
}
/* End of behavioral tracking code */

.sign-in {
    height: 100%;
    width: auto;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), url('../images/sign-in-image.png');
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box {
    width: 33vw;
    min-width: 355px;
    height: 80em;
    position: relative;
    margin: 4% auto;
    color: var(--on-surface);
    overflow: hidden;
}

/* Nav buttons */
.button-box {
    width: 75%;
    margin: 0 auto;
    position: relative;
    border-radius: 30px;
}

.toggle-btn {
    padding: 0.5em 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    width: 49%;
    font: inherit;
}

#login-btn {
    color: var(--on-secondary);
}

#register-btn {
    color: var(--on-surface);
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: var(--secondary);
    border-radius: 30px;
    transition: .5s;
}

/* Nav buttons */

/* Login and register forms */
#login {
    left: 0;
}

#register {
    left: 200%;
}

#login, #register {
    width: 100%;
    position: absolute;
    top: 5em;
}

form {
    transition: .5s;
    padding: 1.5em;
    border-radius: 5px;
    background-color: var(--surface);
}

.remember {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 1em;
    align-items: center;
    font-size: 0.8em;
    border: 0;
}

.remember input {
    width: 1em;
}

fieldset > p {
    margin: 0 0 0.1em 0;
    line-height: 1em;
}
